/* Custom propertis */
:root {
    --main-accent-color: #59acdc;
    --main-enphasize-color: #ff7878;
    --main-background-color: #dbdbdb;
    --main-drop-color: #f7f7f7;
    --page-prev-width: 180px;
    --page-prev-height: 250px;
    --page-prev-width-half: 90px;
    --page-prev-height-half: 125px;
    --page-prev-width-quarter: 45px;
    --page-prev-height-quarter: 64px;
    --flat-background-color: #f5f5f5;
    --flat-font-color:#353535;
}

/* Common */
.red{
    color: var(--main-enphasize-color);
    font-weight: bold;
}
.gohst{
    color:transparent;
}
.text-list {
    display: none;
}
footer {
    background-color: #222;
    margin: 80px 0 0 0;
    border-radius: 5px 5px 0 0;
    border-color: #080808;
    border-width:1px;
    border-style:solid;
    color: #9d9d9d;
    padding: 10px;
}
footer > p{
    margin: 0 0 0 20px;
}
body{
    padding-bottom:0;
}
.footer-meta > div {
    font-size: medium;
}
.footer-agreement{
    font-size:small;
}
.twitter-timeline {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #8f8f8f !important;
    border-radius: 5px;
}

/* Information */
.info-container {
    margin: 10px;
    padding: 5px 10px;
    background: #59acdc;
    color: whitesmoke;
    display: inline-block;
    border-radius: 5px;
}
.info-container a,
.info-container a:visited,
.info-container a:link,
.info-container a:hover,
.info-container a:focus {
        color: white;
}

/* About */
.about > div {
    width: 100%;
}
h3.about-sec-tip {
    margin: 0px;
    text-align: center;
    font-size:x-large;
}
.about p{
    margin:5px 0;
}
.about > div{
    margin: 40px 0;
    display:table;
}
.insertion-left {
    display: table-cell;
    vertical-align: middle;
}
.about-sec-text {
    display: table-cell;
    vertical-align: middle;
}
div.about-btn-wrap {
    text-align: center;
    display:block;
}
.about-btn {
    display: inline-block;
}
.about-btn {
    box-shadow: 0px 0px 5px 3px var(--main-accent-color);
}
@media only screen and (max-device-width: 480px) {
    .insertion-left {
        width: 150px;
    }
    .about-btn {
        white-space: normal;
    }
}
@media only screen and (max-device-width: 350px) {
    .about > div {
        display: block;
    }

    .insertion-left {
        display: block;
    }

    .about-sec-text {
        display: block;
    }
}

/* Jump navigations */
.nav-footer {
    margin: 10px;
}

/* Index list */
.index-list-row:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
}
.pacs-wrap{
    overflow:auto;
}
.pacs-wrap > a{
    color: var(--flat-font-color);
}
.pac {
    width: 370px;
    height: 200px;
    margin: 10px;
    float: left;
    overflow: hidden;
    margin: 5px;
    border-radius: 2px;
    background-color: var(--flat-background-color);
}
@media only screen and (max-device-width: 400px){
    .pac{
        width:100%;
        margin: 5px 0;
    }
}
.book-create-pac {
    float:none;
}
.pac:hover {
    box-shadow: 0px 0px 5px 3px var(--main-accent-color);
}
.pac-thumb {
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
}
.pac-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pac-thumb > div {
    height: 70px;
    width: 70px;
    position: relative;
    top: -75px;
    left: 70px;
    padding: 5px;
    font-weight: bold;
    text-shadow: white 2px 0px, white -2px 0px, white 0px -2px, white 0px 2px, white 2px 2px, white -2px 2px, white 2px -2px, white -2px -2px, white 1px 2px, white -1px 2px, white 1px -2px, white -1px -2px, white 2px 1px, white -2px 1px, white 2px -1px, white -2px -1px;
}
.pac-thumb > div > h4 {
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align:center;
}
.pac-thumb > div > p {
    font-size:38px;
    margin:0;
    padding:0;
    text-align:center;
    line-height:1em;
}
.pac-meta {
    width: 60%;
    height: 100%;
    float: left;
    padding: 10px;
    overflow: hidden;
}
.pac-meta p, h3{
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
.pac-meta > h3 {
    font-size: 21px;
    font-weight: bolder;
}
.pac-meta-auther {
    margin-left:5px;
    font-size: 15px;
}
p.pac-meta-tag {
    font-size: 13px;
    padding: 7px 0;
}
p.pac-meta-tag span{
    font-weight:bold;
}
p.pac-meta-des {
    font-size: 12px;
}

/* Book Detail */
.book-detail-thumbnail-wrap{
    position:relative;
}
.book-detail-thumbnail {
    width: 80%;
    padding: 5%;
    background-color: whitesmoke;
    margin: 10px 10% 20px 10%;
}
.book-detail-qr {
    width: 30%;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    border-radius: 20%;
}
.book-detail-qr > img {
    width: 100%;
    border-radius: 20%;
}
.book-detail-qr > p {
    width: 100%;
    text-align:center;
    font-size:small;
    margin:0 0 20px 0;
    padding:0;
    font-weight:bold;
}
.book-detail-datalist > p {
    font-size: x-large;
margin: 10px 10px 10px 20px;
}
span.r18-tag{
    background-color: #b934ff;
}
span.limited-positive-tag {
    background-color: #2bbf33;
}
span.limited-negative-tag {
    background-color: #ff3434;
}
.tag {
    display: inline-block;
    background-color: #8f8f8f;
    color: white;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    font-size: medium;
}
.audio-list{
    max-width: 450px;
    width:100%;
    margin: 10px;
}
.audio-list > ol {
    list-style:none;
    padding-left: 10px;
}
.audio-list > ol > li:nth-child(odd){
    background-color:whitesmoke;
}
.audio-list > ol > li.editable-audio:hover {
    box-shadow: 0px 0px 5px 3px var(--main-accent-color);
}
.audio-list a:hover {
    text-decoration:none;
}
.audio-list-icon {
    float: left;
    width: 50px;
    height:70px;
    margin: 0 10px;
    object-fit:contain;
}
.audio-list-official {
    float: right;
    width: 50px;
    height: 70px;
    margin: 0 10px;
    object-fit: contain;
}
.audio-list-center {
    margin: 5px 50px;
    padding: 0 10px;
    overflow: hidden;
}
.audio-list-center > h4{
    height: 20px;
    overflow:hidden;
}
.audio-list-center > p{
    height: 20px;
    overflow: hidden;
    text-align: right;
}
.create-audio .audio-list-center > h4 {
    height: 25px;
    margin: 25px 0;
    font-size: x-large;
    vertical-align: middle;
}
.book-detail-imagelist > img {
    height: 70px;
    width: 60px;
    margin: 3px;
    padding: 3px;
    background-color: whitesmoke;
    object-fit: contain;
}
.book-form-wrap{
    float:none;
}
/* Audio detail */
#play-and-stop-button {
    margin: 20px;
}

/* Column layout */
.book-content {
    display: flex;
    flex-flow: row;
}
.book-meta-content {
    flex: 1 1 200px;
    max-width: 450px;
    min-width: 350px;
    margin-right: 16px;
    border-radius: 6px;
    padding: 20px;
    background-color: var(--main-background-color);
    position: relative;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
.edit-nav{
    position:relative;
    top:-25px;
    margin:0;
}
.book-images-content {
    flex: 1 1 600px;
    border-radius: 6px;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Drop zone */
#drop-zone{
    min-height:300px;
    width:100%;
    background-color: var(--main-drop-color);
    border-style:dashed;
    border-radius:6px;
    border-width:1px;
    padding:10px;
}
.here{
    margin:5px;
    font-size:large;
    font-weight: bold;
}
#images-list {
    overflow: hidden
}
.page-prev {
    float: left;
    width: var(--page-prev-width);
    height: var(--page-prev-height);
    position:relative;
}
.page-prev:hover {
    background-color: var(--main-accent-color);
}
.page-prev img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
}
.page-prev .cancel {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -8px;
    left: 117px;
    display:none;
}
.sortable-chosen {
    background-color: var(--main-accent-color);
}

/* Altanative */
#open-alt-btn {
    margin: 10px;
}
#alt-image-upload {
    display: none;
    background-color: var(--main-background-color);
    border-style: dashed;
    border-radius: 6px;
    border-width: 1px;
    padding: 10px;
}

/* Audio Edit */
.audio-edit-table{
    width: 750px;
}
.audio-edit-table .img-column {
    width: var(--page-prev-width-quarter);
    padding-right: 7px;
}
.audio-edit-table th {
    width: var(--page-prev-width-half);
    text-align: center;
}
.wave-wrap {
    position: relative;
}
.select-span > canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.select-span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index:10;
}
.waveform {
    width: 100%;
    border-style: dashed;
    border-radius: 6px;
    border-width: 1px;
    cursor: text;
}
.page-prev-half {
    float: left;
    width: var(--page-prev-width-quarter);
    height: var(--page-prev-height-quarter);
    position: relative;
}
.page-prev-half img {
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: contain;
}
.wave-timeline {
    height:20px;
}
.count-column:hover, .img-column:hover {
    cursor: pointer;
}

/* Altanative */
.audio-upload-method{
    margin:20px;
}

/* Audio drop zone*/
#audio-drop-zone {
    height: 100%;
    width: 100%;
    background-color: var(--main-drop-color);
    border-style: dashed;
    border-radius: 6px;
    border-width: 1px;
    padding: 10px;
    margin: 10px;
}
#audio-drop-zone span {
    margin: 5px;
}
.first-wave-cell .waveform, .first-wave-cell .select-span {
    display: none;
}
.other-wave-cell {
    display: none;
}

/* Agreement */
.book-conform {
    display: block;
    float: none;
    margin: 50px auto;
    max-width: 800px
}
.book-agreement {
    border-color: black;
    border-radius: 6px;
    padding: 10px;
    background-color: var(--main-background-color);
}
.check-wrap {
    line-height: 50px;
    text-align: center;
}
.book-agreement .checkbox {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.book-agreement .checkbox-label {
    font-size: large;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.book-conform .btn {
    margin: 20px auto;
    max-width: 200px;
    width: 100%;
    font-size: x-large;
    display: block;
}
.book-conform .form-group {
}
.book-form-wrap {
    width: 100%;
}