/* Custom propertis */
:root {
    --main-accent-color: #59acdc;
    --main-enphasize-color: #ff7878;
    --main-background-color: #dbdbdb;
    --page-prev-width: 180px;
    --page-prev-height: 250px;
    --page-prev-width-half: 90px;
    --page-prev-height-half: 125px;
    --page-prev-width-quarter: 45px;
    --page-prev-height-quarter: 64px;
}

/* Common */
.red{
    color: var(--main-enphasize-color)
    font-weight:bold;
}
.text-list {
    display: none;
}

/* Information */
.info-container {
    margin: 10px;
    padding: 5px 10px;
    background: #59acdc;
    color: whitesmoke;
    display: inline-block;
    border-radius: 5px;
}
.info-container a,
.info-container a:visited,
.info-container a:link,
.info-container a:hover,
.info-container a:focus {
        color: white;
}

/* Jump navigations */
.nav-footer{
    margin:10px;
}

/* Index list */
.index-list-row:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
}

/* Column layout */
.book-content {
    display: flex;
    flex-flow: row;
}
.book-meta-content {
    flex: 1 1 200px;
    margin-right: 16px;
    border-radius: 6px;
    padding: 20px;
    background-color: var(--main-background-color);
}
.book-images-content {
    flex: 1 1 600px;
    border-radius: 6px;
    padding: 10px;
}

/* Drop zone */
#drop-zone{
    min-height:300px;
    width:100%;
    background-color: var(--main-background-color);
    border-style:dashed;
    border-radius:6px;
    border-width:1px;
    padding:10px;
}
#drop-zone > span{
    margin:5px;
}
#images-list {
    overflow: hidden
}
.page-prev {
    float: left;
    width: var(--page-prev-width);
    height: var(--page-prev-height);
    position:relative;
}
.page-prev:hover {
    background-color: var(--main-accent-color);
}
.page-prev img {
    width: 100%;
    height: 100%;
    padding: 10px;
    object-fit: contain;
}
.page-prev .cancel {
    width: 70px;
    height: 70px;
    position: absolute;
    top: -8px;
    left: 117px;
    display:none;
}
.sortable-chosen {
    background-color: var(--main-accent-color);
}

/* Altanative */
#open-alt-btn {
    margin: 10px;
}
#alt-image-upload {
    display: none;
    background-color: var(--main-background-color);
    border-style: dashed;
    border-radius: 6px;
    border-width: 1px;
    padding: 10px;
}

/* Audio Edit */
.audio-edit-table{
    width: 100%;
}
.audio-edit-table .img-column {
    width: var(--page-prev-width-quarter);
}
.audio-edit-table th {
    width: var(--page-prev-width-quarter);
}
.wave-wrap {
    position: relative;
}
.select-span > canvas {
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.select-span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    z-index:10;
}
.waveform {
    width: 100%;
    border-style: dashed;
    border-radius: 6px;
    border-width: 1px;
    cursor: text;
}
.page-prev-half {
    float: left;
    width: var(--page-prev-width-quarter);
    height: var(--page-prev-height-quarter);
    position: relative;
}
.page-prev-half img {
    width: 100%;
    height: 100%;
    padding: 0px;
    object-fit: contain;
}

/* Audio drop zone*/
#audio-drop-zone {
    height: 100%;
    width: 100%;
    background-color: var(--main-background-color);
    border-style: dashed;
    border-radius: 6px;
    border-width: 1px;
    padding: 10px;
    margin:10px;
}
#audio-drop-zone span {
    margin: 5px;
}
.first-wave-cell .waveform, .first-wave-cell .select-span {
    display: none;
}
.other-wave-cell {
    display: none;
}

/* Agreement */
.book-conform {
    display: block;
    float: none;
    margin: auto;
    max-width: 800px
}
.book-agreement {
    border-color: black;
    border-radius: 6px;
    padding: 10px;
    background-color: var(--main-background-color);
}
.check-wrap {
    line-height: 50px;
    text-align: center;
}
.book-agreement .checkbox {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.book-agreement .checkbox-label {
    font-size: large;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.book-conform .btn {
    margin: 20px auto;
    max-width: 200px;
    width: 100%;
    font-size: x-large;
    display: block;
}
.book-conform .form-group {
}
.book-form-wrap {
    width: 100%;
}