
@{
    ViewData["Title"] = "App";
}

<h2>アプリのダウンロード</h2>

<div class="app-dl-list">
    <a>
        <p id="app-ios"><s>iOS β版 (Var > X)</s></p>
    </a>
    <a href="https://play.google.com/store/apps/details?id=wallstudio.work.kamishiba">
        <p id="app-android">Android 版 (Ver > 5.0)</p>
    </a>
</div>