
@{
    ViewData["Title"] = "App";
}

<h2>アプリのダウンロード</h2>

<div class="app-dl-list">
    <a>
        <p id="app-ios"><s>iOS β版 (Var > X)</s></p>
    </a>
    <a>
        <p id="app-android"><s>Android β版 (Ver > 5.0)</s></p>
    </a>
    <a href="https://github.com/wallstudio/BookEffecter/releases/tag/a0.1">
        <p id="app-android-wild">Android α版 (Ver > 5.0)</p>
    </a>
</div>