@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        @*<li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>*@
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/yukamaki.png" alt="YukaMaki" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    コミックマーケット94で発布予定のリファレンス同人誌！！！
                    <a class="btn btn-default" href="https://webcatalog-free.circle.ms/Circle/13914940">
                        WEBカタログ
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/step.png" alt="3Step" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    登録は簡単！あなたの同人誌も1分で登録できます！aa
                    <a class="btn btn-default" href="/Books">
                        早速始める
                    </a>
                </p>
            </div>
        </div>
        @*<div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>*@
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="about">
    <h2><strong>「かみしば」とは？</strong></h2>

    <div>
        <h3 class="about-sec-tip">簡単・無料に<strong>同人誌を拡張</strong>しよう！</h3>
        <hr />
        <p>
            昨今、商業誌の業界では緩やかではありますが紙媒体から電子媒体へと移行が進み、今まで紙媒体では出来なかったエッフェクトの追加などの表現が取り入れる例があります。
        </p>
        <p>
            一方同じ書籍とはいえ、同人の分野では様々な事情で電子化が難しかったり、物理的な媒体を介すというイベントそのものを楽しみたいという側面があり、中々電子化に踏み切れ無かったり、配信されているものでも「大丈夫かな？」というものがあるのが現状です。
        </p>
    </div>
    <div>
        <div class="about-sec-text">
            <h3 class="about-sec-tip">紙媒体の良いところを残しつつ、電子的な表現ができます。</h3>
            <hr />
            <p>
                スマートフォンのカメラが同人誌を認識、<strong>隣にナレーターが居るようにページに合わせたスムーズな読み上げを実現</strong>します。認識方法はスマホを手にもつモードと、スマホスタンドに立ててハンズフリーに出来るモード（中綴じを推奨）があります。
            </p>
    </div>
        <img class="insertion-left" border="0" src="~/images/inst_c.png" width="250px">
    </div>
    <div>
        <h3 class="about-sec-tip">用意するものは、<strong>普通に制作した同人誌</strong>と音声ファイルだけです。</h3>
        <hr />
        <p>
            同人誌側に工夫や加工は必要ありません。いつも通り伸び伸びと創作しましょう！また、<strong>既存の同人誌に後付け</strong>もできます。同人誌に細工をする必要が無い為、既存のものでもスムーズに利用することができます。在庫になってしまってしまった同人誌に新たな話題を付加しプロモーション効果も期待できます。
        </p>
    </div>
    <div>
        <a href="https://www.amazon.co.jp/AHS-SAHS-40040-VOICEROID2-%E7%B5%90%E6%9C%88%E3%82%86%E3%81%8B%E3%82%8A/dp/B06ZZFMY6B/ref=as_li_ss_il?ie=UTF8&qid=1531035235&sr=8-1&keywords=%E7%B5%90%E6%9C%88%E3%82%86%E3%81%8B%E3%82%8A+voiceroid2&linkCode=li3&tag=arcplam45-22&linkId=1e8b83651119778901898e62bba121d9" target="_blank">
            <img class="insertion-left" border="0" src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B06ZZFMY6B&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=arcplam45-22">
        </a>
        <img src="https://ir-jp.amazon-adsystem.com/e/ir?t=arcplam45-22&l=li3&o=9&a=B06ZZFMY6B" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        <div class="about-sec-text">
            <h3 class="about-sec-tip"><strong>VOICEROID、CeVIO、VOCALOID</strong> などと相性抜群！！</h3>
            <hr />
            <p>
                声優さんに頼まなくても、音声合成ソフトを利用すれば音声が作成できます。最近では流暢な読み上げはもちろん、感情豊かにあんな声やこんな声も喋ってくれます！！もちろん、セリフ以外にも効果音やBGMを流すこともできます。
            </p>
        </div>
    </div>
    <div>
        <h3 class="about-sec-tip">読者が音声を追加することもできます。</h3>
        <hr />
        <p>
            同人誌を登録できるのは作者または代理の方だけですが、本の作者が許可設定を選べば読者が投稿することもできます。「おもしろ嘘セリフ」のような表現の連鎖を楽しむことができます。
        </p>
    </div>
    <div class="about-btn-wrap">
        <a href="/Books">
            <h3 class="btn btn-default about-sec-tip about-btn">TwitterIDを使って早速始める！！</h3>
        </a>
    </div>
</div>

