html, body, header, footer, 
div, h1, h2, h3, h4, h5, h6, p,
span, ul, li, ol, a, img{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
html{
    background-color: snow;
    font-size: 20px;
    width: 100%;
}
body, #main-contents{
    width: 100%;
}

/* ヘッダ/フッタ */
header, footer{
    background-color: #111111;
    color: white;
}
header{
    display: flex;
    height: 40px;
    font-size: 20px;
}
.holizotal{
    margin: 0 10px;
}
#nav-title{
    font-size: 25px;
}
#nav-support{
    margin-left: auto;
    height: 100%;
}
#nav-support > a{
    color: white;
    text-decoration-line: none;
}
#nav-support h2{
    margin-top: 5px;
}
footer{
    height: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0px;
}
.footer-c{
    width: 360px;
    display: flex;
    margin: 0 auto;
}

/* メインコンテンツ */
.center{
    width: 360px;
    margin: 0 auto;
}
#package-list-selection > select, #run-button{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    font-size: 25px;
}
#app{
    width: 100%; 
    background-color: #333333;
}
#app > div{
    position: relative;
}
video{
    background-color: #333333;
    display: block;
    z-index: 100;
}
#result-image{
    width: 150px;
    height: 200px;
    z-index: 200;
    position: absolute;
    left: 200px;
    top: 150px;
    opacity: 0.8;
    object-fit: cover;
}
canvas{
    display: none;
}

#run-button{
    margin-bottom: 25px;
}