<h2>利用規約</h2>
<ul class="footer-agreement">
    <li>運営は当サービスの機能の目的で利用者のTwitterアカウントを利用します。</li>
    <li>利用者が投稿したデータの責任の一切は投稿者が負います。</li>
    <li>著作権など第三者の権益や法令を著しく侵害するデータ、や公序良俗に反するデータの投稿はしてはいけません。</li>
    <li>運営は投稿されたデータを当サービスのプロモーション目的で利用します。</li>
    <li>退会はTwitterの連携を切ることでできますが、投稿したデータは残るので自己責任で削除後退会してください。</li>
    <li>違反するデータや、正当な削除要請があったデータは、運営の判断で削除します。</li>
    <li>その他、当サービスのご利用は利用者の自己責任とし、如何なる損害が生じても運営は責任を負いません。</li>
    <li>運営はセキュリティに努めますが、その完全性に責任を負いません。公開されて困るデータの投稿は避け、不要時はTwitter連携を切るなどの自衛を行ってください。</li>
    <li>運営は予告なく当サービスを終了できます。</li>
</ul>