<footer>
    <div class="row footer-meta">
        <div class="col-md-4">
            <h2>サポート</h2>
            <ul>
                <li><a href="" target="_blank">公式Twitter</a></li>
            </ul>
            機能や運営に関するお問い合わせ、違反の報告、その他ご意見ご要望などがありましたらお問い合わせください。返信には時間がかかる場合があります。
            <hr />
            <h2>運営・開発</h2>
            <ul>
                <li>
                    <strong>うｐﾊｼ（WallStudio）</strong>
                    <ul>
                        <li><a href="https://twitter.com/yukawallstudio" target="_blank">Twitter</a></li>
                        <li><a href="https://github.com/wallstudio/BookEffecter" target="_blank">GitHub</a></li>
                        <li><a href="https://wallstudio.hateblo.jp" target="_blank">BLOG</a></li>
                        <li><a href="http://www.nicovideo.jp/user/27180984" target="_blank">ニコニコ</a></li>
                        <li><a href="https://www.pixiv.net/member.php?id=24519943" target="_blank">pixiv</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            @await Html.PartialAsync("Agreement")
        </div>
        <div class="col-md-4">
            <h2>最新情報</h2>
            <a class="twitter-timeline" data-height="500" data-theme="dark" href="https://twitter.com/yukawallstudio?ref_src=twsrc%5Etfw">Tweets by yukawallstudio</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>

    <hr />
    <p>&copy; 2018 - KamishibaServer</p>
</footer>