@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<p>この先はログインが必要です。Twitterアカウントだけでパスワードやメールアドレス無しでログインできます。</p>

<a class="btn btn-primary login-button" asp-action="SignIn" asp-route-provider="Twitter">Twitter</a>