{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>かみしば2</title>
        <link rel="stylesheet" type="text/css" href="{% static 'narrator/base.css' %}">
    </head>
    <body>
        <img src="{% static 'narrator/packages/yukawallstudio.yukamaki/cover.jpg' %}">
        <header>

        </header>
        <div id="package-list-selection">

        </div>
        <div id="app">

        </div>
        <div id="camera-controll">

        </div>
        <footer>
            
        </footer>
    </body>
</html>