
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>かみしば2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'narrator/base.css' %}">
</head>
<body>
    <script src="{% static 'narrator/ts2js/main.js' %}"></script>

    <header>
        <div class="holizotal"><h1 id="nav-title">かみしば 2</h1></div>
        <div class="holizotal" id="nav-support"><a href="/narrator/support"><h2>[？]</h2></a></div>
    </header>
    <div id="main-contents">
        <div id="package-list-selection" class="center">
            <select name="package">
                <option value="unselected">---</option>
            </select>
        </div>
        <div id="app">
            <video class="center" width="360" height="480" autoplay></video>
            <canvas width="360" height="480"></canvas>
        </div>
        <div id="camera-controll" class="center">
            <button id="run-button">START</button>
        </div>
    </div>
    <footer>
        <div class="footer-c">
            <div class="holizotal">ID:<span id="call-id"></span></div>
            <div class="holizotal">PAGE:<span id="page-idx"></span></div>
            <div class="holizotal">DIST:<span id="distance"></span></div>
            <div class="holizotal">CROS:<span id="cross"></span></div>
        </div>
    </footer>
</body>
</html>